.lampu{
    width:150px;
    height:150px;
    border-radius: 100%;
    padding:10px;
    border:2px solid black;
}
.lampu-hidup-sl{
    width:150px;
    height:150px;
    border-radius: 100%;
    padding:10px;
    border:2px solid black;
    background-color:yellow;
}
.lampu-hidup{
    background-color:yellow;
}
